include LICENSE *.rst

# Don't package GitHub-specific files.
exclude *.md .travis.yml

# We don't have tests yet
# # Tests
# include tox.ini .coveragerc conftest.py dev-requirements.txt
# recursive-include tests *.py

# We don't have documentation yet
# # Documentation
# include docs/Makefile
# recursive-include docs *.png
# recursive-include docs *.py
# recursive-include docs *.rst
# prune docs/_build
